html, html a {

}
body {
    overflow: hidden;
    margin: 0;
    background: #fefefe;
    font-family: 'Cutive Mono', serif;
    -webkit-font-smoothing: antialiased;
	background: #fff;
	background: radial-gradient(ellipse at center, #fff 0%, #eee 100%);
	background: -moz-radial-gradient(#eee, #fff);
	background-attachment:fixed;
}
a {
    color: #543f36;
    text-decoration: none;
}
h1 {

    font-weight: 400;
    font-size: 3em;
    background: #fefefe;
}
.orange {
    font-size: 44px;
    font-weight: bold;
    color: #ae3409;

    text-shadow: -1.5px -1.5px 1px #3a3a3a;
}
.gray {
    font-size: 32px;
    font-weight: bold;
    color: #543f36;
    text-shadow: -1.5px -1.5px 1px #756964;
}
.menu {
    text-shadow: -1.5px -1.5px 1px #756964;
    font-weight: 550;
    padding-left: 40px;
    font-size: 28px;
    float: left;
    width: 15%;
    text-align: center;
}
.footer {
    padding-left: 40%;
    position: absolute;
    bottom: 0;
	text-align: center;
}
.menu ul {
    list-style-type: none;
}
.main {
    padding-top:80px;
}
.main_header {
    padding-top: 40px;
    width: 55%;
    float: right;
}
.poopy {
    font-weight: bold;
}