html, html a {

}
body {
    overflow: hidden;
    margin: 0;
    background: #fefefe;
    font-family: 'Cutive Mono', serif;
    -webkit-font-smoothing: antialiased;
	background: #fff;
	background: radial-gradient(ellipse at center, #C0C0C0 0%, #D1D1D1 100%);
	background: -moz-radial-gradient(#D1D1D1, #C0C0C0);
	background-attachment:fixed;
}
a {
    color: #543f36;
    text-decoration: none;
}
h1 {

    font-weight: 400;
    font-size: 3em;
    background: #fefefe;
}
.orange {
    font-size: 44px;
    font-weight: bold;
    color: #ae3409;

    text-shadow: -1.5px -1.5px 1px #3a3a3a;
}
.gray {
    font-size: 32px;
    font-weight: bold;
    color: #543f36;
    text-shadow: -1.5px -1.5px 1px #756964;
}
.menu {
    text-shadow: 1.5px -0.5px 1px #FFFFFF;
    font-weight: bold;
    padding-top: 80px;
    font-size: 28px;
    text-align: center;
}
.menu a:hover {
    font-weight: normal;
}
.menu  li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
.footer {
    padding-left: 35%;
    position: absolute;
    bottom: 0;
	text-align: center;
}
.main {
    padding-top:80px;
}
.main_header {
    padding-top: 40px;
    width: 55%;
    float: right;
}
.poopy {
    font-weight: bold;
}
.coffeestain {
    position:absolute;
    bottom:0;
    right:0;
}